.admin-image-info img {
	width: 100px !important;
	vertical-align: middle !important;
	float: left; 
	margin: 0 10px 0 0; 
}

.admin-image-info a:not(:last-child) {
	margin-right: .5em;
}

#admin-images-list th.id, #admin-images-list td.id {
	width: 1%;
	text-align: center;
}

input[type=file] {
	margin: 0 0 10px 0;
}

/* The following is a css hack to visually fix Delete */
/* Image button positioning issue in Edit Image page  */ 
#save .field {
	border-top : 0;
	padding-top : 0;
}

#save .inputs {
	width: 100%;
	margin-bottom: 0;
}

#delete-label {
	display: none;
}
/* End of hack */
